{% extends "base.html" %}

{% block content %}
	<h1>Currency Converter</h1>
	<form action="" method="post" novalidate>
		{{ form.hidden_tag() }}
		<p>
			{{ form.currency_one.label }}<br>
			{{ form.currency_one() }}
		</p>
		<p>
			{{ form.amount_one.label }} <br>
			{{ form.amount_one() }}
		</p>
		<p>
			{{ form.currency_two.label }}<br>
			{{ form.currency_two() }}
		</p>
		<p>
			{{ form.amount_two.label }} <br>
			{{ form.amount_two() }}
		</p>
	</form>
	<script src="{{ url_for('static', filename='convert.js') }}"></script>
{% endblock %}
